<launch>
  <!-- 1. 强制开启仿真时间 (这一行是救命稻草) -->
  <param name="/use_sim_time" value="true" />

  <!-- 2. 设置世界 -->
  <arg name="world_name" default="$(find aws_robomaker_small_warehouse_world)/worlds/no_roof_small_warehouse.world"/>
  
  <!-- 3. 启动 Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- 4. 加载机器人 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find my_simulation)/urdf/my_robot.xacro'" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model my_robot -x 2.0 -y 2.0 -z 0.2 -param robot_description" />

  <!-- 5. 状态发布 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- 6. 强力 TF 连接 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_velodyne" args="0 0 0.085 0 0 0 base_link velodyne" />


  <!-- 启动速度类型转换节点 -->
  <node pkg="my_simulation" type="cmd_converter.py" name="cmd_converter" output="screen" />
</launch>